<h1>Episodes#show</h1>

<hr>
<h2> <%= @episode.name %></h2>
<p class="episode">
Episode Number: <%= @episode.epnumb %> <br />
Video Link: <a href="<%= @episode.link_url %>"><%= @episode.link_url %></a>


</p>

<p>Find me in app/views/episodes/show.html.erb</p>
