// Place all the styles related to the Shows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.show_index {

	max-width: 100%;
	color: red;
	max-height: 700px;
	min-height: 300px
}
.show {

text-align: left;
	
}
.show_index_loop {
	display: flex;
	flex-wrap: wrap;
}

img {
border-style: solid;
border-color: black;
border-radius: 3px;
max-width: 140px;
max-height: 90px;

}