<div class="show_index">
<h1>Shows#index</h1>
<h1>All Shows: </h1>
<hr>
<div class="show_index_loop">
<% @shows.each do |show| %>
  <div class="show">
    <h2> <img src="<%= show.img_url %>"/> :<%= link_to show.name, show_seasons_path(show) %> : <%= link_to "(-)EDIT(-)", edit_show_path(show) %> </h2>
    
  </div>
<% end %>
</div>

<h2><%= link_to "(+) -New Show- (+)", new_show_path %> </h2>

<p>Find me in app/views/shows/index.html.erb</p>
</div>