<div class="show_index">
<h1>Recent Shows</h1>
<h2><%= link_to "(+) -Add a Show- (+)", new_show_path %> </h2>
<h1>All: </h1>
<hr>
<div class="show_index_loop">
<% @shows.each do |show| %>
  <div class="show">
    <h2> <img src="<%= show.img_url %>"/> :<%= link_to show.name, show_seasons_path(show) %> : <%= link_to "(-)EDIT(-)", edit_show_path(show) %> </h2>
    
  </div>
<% end %>
</div>



<p>Find me in app/views/shows/index.html.erb</p>
</div>